<div class="pagination span7">
	<ul>
{% if pagination.has_prev %}
		<li><a href="{{ url_for(setting.url, page=pagination.prev_num) }}{%if url_get %}{{ url_get}}{% endif %}">上一页</a></li>
{% else %}
		<li class="disabled"><a href="#">上一页</a></li>
{% endif %}
{% for page in pagination.iter_pages(left_edge=2, left_current=2, right_current=3, right_edge=2)  %}
		{% if not page %}
		<li class="disabled"><a href="#">...</a></li>	
		{% elif page == pagination.page %}
		<li class="active"><a href="#">{{ page }}</a></li>
		{% else %}
		<li><a href="{{ url_for(setting.url, page=page) }}{%if url_get %}{{ url_get}}{% endif %}">{{ page }}</a></li>
		{% endif %}
{% endfor %}

{% if pagination.has_next %}
		<li><a href="{{ url_for(setting.url, page=pagination.next_num) }}{%if url_get %}{{ url_get}}{% endif %}">下一页</a></li>
{% else %}
		<li class="disabled"><a href="#">下一页</a></li>
{% endif %}
	</ul>
</div>

