{% extends "base.html" %}

{%block script %}
<script type="text/javascript" src="/static/js/ajaxupload.js"></script>
<script type="text/javascript" src="/static/js/form.js"></script>
{% endblock %}

{% block content %}

<ul class="breadcrumb">
	<li><a href="/">首页</a><span class="divider">/</span></li>
	<li><a href="{{ url_for(setting.url) }}">文章分类</a><span class="divider">/</span></li>
	<li class="active">修改</li>
</ul>

<h2>文章分类<small>修改</small></h2>

<form class="form-horizontal" name="{{ setting.url }}_class_edit" action="{{ url_for(setting.url+'_edit', id=article_class.id) }}" method="post">
	<input name="id" type="hidden" value="{{ article_class.id }}" />
	<div class="control-group">
		<label for="parent_id" class="control-label"><em>*</em>分类名称:</label>
		<div class="controls">
			<select name="parent_id">
				{% if not article_classes %}
				<option value="0">无上级分类</option>
				{% else %}
				{% for p_article_class in article_classes %}
				<option value="{{ p_article_class.id }}"{% if p_article_class.id == article_class.parent_id %} selected="selected"{% endif %}>{{ p_article_class.name }}</option>
				{% endfor %}
				{% endif %}
			</select>
		</div>
	</div>
	<div class="control-group">
		<label for="name" class=" control-label">名称:</label>
		<div class=" controls">
			<input name="name" type="text" value="{{ article_class.name }}" />
		</div>
	</div>
	<div class="control-group">
		<label for="keywords" class=" control-label">关键词:</label>
		<div class=" controls">
			<input name="keywords" type="text" value="{{ article_class.keywords }}" />
		</div>
	</div>
	<div class="control-group">
		<label for="description" class=" control-label">注释:</label>
		<div class=" controls">
			<textarea name="description">{{ article_class.description }}</textarea>
		</div>
	</div>
	<div class="control-group">
		<label for="posi" class=" control-label">排序:</label>
		<div class=" controls">
			<input name="posi" type="text" value="{{ article_class.posi }}" />
		</div>
	</div>
	<div class="control-group">
		<div class=" controls">
			<input name="submit" class="btn btn-primary" type="submit" value="修改" />
		</div>
	</div>
</form>
{% endblock %}
