{% extends "base.html" %}

{%block script %}
<script type="text/javascript" src="/static/js/ajaxupload.js"></script>
<script type="text/javascript" src="/static/js/form.js"></script>
{% endblock %}

{% block content %}

<ul class="breadcrumb">
	<li><a href="/">首页</a></li>
	<li><a href="{{ url_for(setting.url) }}/article">文章</a></li>
	<li class="active">修改</li>
</ul>

<div class="row">
{% include('inc/sidebar_categories.html')%}

<div class="col-sm-10">

<h2>文章<small>修改</small></h2>

<form class="form-horizontal" name="{{ setting.url }}_edit" action="{{ url_for(setting.url+'_edit', id=article.id) }}" method="post">
	<input class="form-control" name="id" type="hidden" value="{{ article.id }}" />
	<div class="form-group">
		<label for="category_id" class="col-sm-2 control-label">分类名称:</label>
		<div class="col-sm-10">
			<select class="form-control" name="category_id">
				{% for category in categories %}
				<option value="{{ category.id }}"{% if category.id == article.category_id %} selected="selected"{% endif %}>{{ category.title }}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	<div class="form-group">
		<label for="title" class="col-sm-2 control-label">标题:</label>
		<div class="col-sm-10">
			<input class="form-control" name="title" type="text" value="{{ article.title }}" />
		</div>
	</div>
	<div class="form-group">
		<label for="keywords" class="col-sm-2 control-label">关键词:</label>
		<div class="col-sm-10">
			<input class="form-control" name="keywords" type="text" value="{{ article.keywords }}" />
		</div>
	</div>
	<div class="form-group">
		<label for="description" class="col-sm-2 control-label">注释:</label>
		<div class="col-sm-10">
			<textarea class="form-control" name="description">{{ article.description }}</textarea>
		</div>
	</div>
	<div class="form-group">
		<label for="posi" class="col-sm-2 control-label">排序:</label>
		<div class="col-sm-10">
			<input class="form-control" name="posi" type="text" value="{{ article.posi }}" />
		</div>
	</div>
	<div class="form-group">
		<label for="picture" class="col-sm-2 control-label">图片:</label>
		<div class="col-sm-10">
			<div class="input-group">
				<input class="form-control" name="picture" type="text" value="{{ article.picture }}" />
				<span class="input-group-btn">	
					<button class="btn btn-default" id="img_upload" name="img_upload">浏览</button>
				</span>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="content" class="col-sm-2 control-label">内容:</label>
		<div class="col-sm-10">
			<textarea class="form-control article" name="content">{{ article.content }}</textarea>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-10 col-md-offset-2">
			<input name="submit" class="btn btn-primary" type="submit" value="修改" />
		</div>
	</div>
</form>

</div>
</div>
{% endblock %}
