{% extends "base.html" %}

{%block script %}
<script type="text/javascript" src="/static/js/ajaxupload.js"></script>
<script type="text/javascript" src="/static/js/form.js"></script>
{% endblock %}

{% block content %}

<ul class="breadcrumb">
	<li><a href="/">首页</a><span class="divider">/</span></li>
	<li><a href="{{ url_for(setting.url) }}">文章分类</a><span class="divider">/</span></li>
	<li class="active">添加</li>
</ul>

<h2>文章分类<small>添加</small></h2>

<form class="form-horizontal" name="{{ setting.url }}_add" action="{{ url_for(setting.url+'_add')}}" method="post">
	<div class="control-group">
		<label for="parent_id" class="control-label"><em>*</em>分类名称:</label>
		<div class="controls">
			<select name="parent_id">
				<option value="0">无上级分类</option>
				{% for p_article_class in article_classes %}
				<option value="{{ p_article_class.id }}">{{ p_article_class.name }}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	<div class="control-group">
		<label for="name" class=" control-label">名称:</label>
		<div class=" controls">
			<input name="name" type="text" value="" />
		</div>
	</div>
	<div class="control-group">
		<label for="keywords" class=" control-label">关键词:</label>
		<div class=" controls">
			<input name="keywords" type="text" value="" />
		</div>
	</div>
	<div class="control-group">
		<label for="description" class=" control-label">注释:</label>
		<div class=" controls">
			<textarea name="description"></textarea>
		</div>
	</div>
	<div class="control-group">
		<label for="posi" class=" control-label">排序:</label>
		<div class=" controls">
			<input name="posi" class="span1" type="text" vlaue="100" />
		</div>
	</div>
	<div class="control-group">
		<div class=" controls">
			<input name="submit" class="btn btn-primary" type="submit" value="添加" />
		</div>
	</div>
</form>
{% endblock %}
