{% extends "base.html" %}

{%block script %}
<script type="text/javascript" src="/static/js/ajaxupload.js"></script>
<script type="text/javascript" src="/static/js/form.js"></script>
{% endblock %}

{% block content %}

<ul class="breadcrumb">
	<li><a href="/">首页</a></li>
	<li><a href="{{ url_for(setting.url) }}">分类</a></li>
	<li class="active">修改</li>
</ul>

<h2>分类<small>修改</small></h2>

<form class="form-horizontal" name="{{ setting.url }}_class_edit" action="{{ url_for(setting.url+'_edit', id=category.id) }}" method="post">
	<input class="form-control" name="id" type="hidden" value="{{ category.id }}" />
	<div class="form-group">
		<label for="parent_id" class="col-sm-2 control-label"><em>*</em>分类名称:</label>
		<div class="col-sm-10">
			<select class="form-control" name="parent_id">
				{% for p_category in categories %}
				<option value="{{ p_category.id }}"{% if p_category.id==o_row.id %} selected="selected"{% endif %}>{{ (p_category.layer-1>0 and '|'+'&nbsp;'*4*(p_category.layer-1)+'|_ ' or '')|safe }}{{ p_category.title}}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	<div class="form-group">
		<label for="data_model_id" class="col-sm-2 control-label"><em>*</em>模型:</label>
		<div class="col-sm-10">
			<select class="form-control" name="data_model_id">
				{% for data_model_item in data_model %}
				<option value="{{ data_model_item.id }}"{% if data_model_item.id==category.data_model_id %} selected="selected"{% endif %}>{{ data_model_item.name}}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">位置:</label>
		<div class="col-sm-10">
			<label class="radio-inline"><input class="form-control" name="pos" type="radio" value="first_child"{% if category.layer==o_row.layer+1 %} checked="checked"{% endif %} />下级头部</label>
			<label class="radio-inline"><input class="form-control" name="pos" type="radio" value="last_child" />下级尾部</label>
			<label class="radio-inline"><input class="form-control" name="pos" type="radio" value="previous_sibling" />同级前一个</label>
			<label class="radio-inline"><input class="form-control" name="pos" type="radio" value="next_sibling"{% if category.layer==o_row.layer %} checked="checked"{% endif %} />同级后一个</label>
			</li>
		</div>
	</div>
	<div class="form-group">
		<label for="title" class="col-sm-2 control-label">名称:</label>
		<div class="col-sm-10">
			<input class="form-control" name="title" type="text" value="{{ category.title }}" />
		</div>
	</div>
	<div class="form-group">
		<label for="keywords" class="col-sm-2 control-label">关键词:</label>
		<div class="col-sm-10">
			<input class="form-control" name="keywords" type="text" value="{{ category.keywords }}" />
		</div>
	</div>
	<div class="form-group">
		<label for="description" class="col-sm-2 control-label">注释:</label>
		<div class="col-sm-10">
			<textarea class="form-control" name="description">{{ category.description }}</textarea>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-10 col-md-offset-2">
			<input name="submit" class="btn btn-primary" type="submit" value="修改" />
		</div>
	</div>
</form>
{% endblock %}
