{% extends "base.html" %}

{%block script %}
<script type="text/javascript" src="/static/js/ajaxupload.js"></script>
<script type="text/javascript" src="/static/js/form.js"></script>
{% endblock %}

{% block content %}
<ul class="breadcrumb">
	<li><a href="/">首页</a><span class="divider">/</span></li>
	<li><a href="{{ url_for(setting.url) }}">会员</a><span class="divider">/</span></li>
	<li class="active">添加</li>
</ul>

<h2>会员<small>添加</small></h2>

<form class="form-horizontal" name="{{ setting.url }}_add" action="{{ url_for(setting.url+'_add') }}" method="post">
	<div class="control-group">
		<label for="member_group_id" class=" control-label">会员组:</label>
		<div class=" controls">
			<select name="member_group_id">
				{% for member_group in member_groups %}
				<option value="{{ member_group.id }}">{{ member_group.name }}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	<div class="control-group">
		<label for="username" class=" control-label">会员名:</label>
		<div class=" controls">
			<input name="username" type="text" value="" />
		</div>
	</div>
	<div class="control-group">
			<label for="email" class=" control-label">电子邮箱:</label>
		<div class=" controls">
			<input name="email" type="text" value="" />
		</div>
	</div>
	<div class="control-group">
		<label for="password" class=" control-label">密码:</label>
		<div class=" controls">
			<input name="password" type="password" value="" />
		</div>
	</div>
	<div class="control-group">
		<label for="password_confirm" class=" control-label">重复密码:</label>
		<div class=" controls">
			<input name="password_confirm" type="password" value="" />
		</div>
	</div>
	<div class="control-group">
		<label for="is_active" class=" control-label">是否可用:</label>
		<div class=" controls">
			<input name="is_active" type="radio" value="1" checked="checked" />是
			<input name="is_active" type="radio" value="0" />否
		</div>
	</div>
	<div class="control-group">
		<div class=" controls">
			<button name="submit" class="btn btn-primary" type="submit" class="btn">添加</button>
		</div>
	</div>

</form>
{% endblock %}
