{% extends "base.html" %}

{%block script %}
<script type="text/javascript" src="/static/js/ajaxupload.js"></script>
<script type="text/javascript" src="/static/js/form.js"></script>
{% endblock %}

{% block content %}
<ul class="breadcrumb">
	<li><a href="/">首页</a><span class="divider">/</span></li>
	<li><a href="{{ url_for(setting.url) }}">会员组</a><span class="divider">/</span></li>
	<li class="active">修改</li>
</ul>

<h2>会员组<small>修改</small></h2>

<form class="form-horizontal"  name="{{ setting.url }}_edit" action="{{ url_for(setting.url+'_edit', id=member_group.id) }}" method="post">
	<input name="id" type="hidden" value="{{ member_group.id }}" />
<div class="control-group">
	<label for="name" class=" control-label">名称:</label>
	<div class=" controls">
		<input name="name" type="text" value="{{member_group.name}}" />
	</div>
</div>
<div class="control-group">
	<label for="description" class="c control-label">备注:</label>
	<div class=" controls">
		<textarea name="description" rows="3">{{ member_group.description }}</textarea>
	</div>
</div>

<div class="control-group">
	<div class=" controls">
		<button name="submit" class="btn btn-primary" type="submit" class="btn">修改</button>
	</div>
</div>
</form>

{% endblock %}
