{% extends "base.html" %}

{%block script %}
<script type="text/javascript" src="/static/js/ajaxupload.js"></script>
<script type="text/javascript" src="/static/js/form.js"></script>
{% endblock %}

{% block content %}

<ul class="breadcrumb">
	<li><a href="/">首页</a></li>
	<li class="active">修改密码</li>
</ul>

{% include('inc/list_msg.html') %}

<h2>用户<small>修改</small></h2>

<form class="form-horizontal" name="form_password" action="{{ url_for('password') }}" method="post">
	<input class="form-control" name="id" type="hidden" value="{{ user.id }}" />
	<div class="form-group">
		<label for="username" class="col-sm-2 control-label">用户名:</label>
		<div class="col-sm-10">
			{{ user.username }}
		</div>
	</div>
	<div class="form-group">
		<label for="email" class="col-sm-2 control-label">邮箱:</label>
		<div class="col-sm-10">
			{{ user.email }}
		</div>
	</div>
	<div class="form-group">
		<label for="password_old" class="col-sm-2 control-label">当前密码:</label>
		<div class="col-sm-10">
			<input class="form-control" name="password_old" type="password" value="" />
			<span class="msg">{{ error.password_old }}</span>
		</div>
	</div>
	<div class="form-group">
		<label for="password" class="col-sm-2 control-label">新密码:</label>
		<div class="col-sm-10">
			<input class="form-control" name="password" type="password" value="" />
			<span class="msg">{{ error.password }}</span>
		</div>
	</div>
	<div class="form-group">
		<label for="password_confirm" class="col-sm-2 control-label">重复新密码:</label>
		<div class="col-sm-10">
			<input class="form-control" name="password_confirm" type="password" value="" />
			<span class="msg">{{  error.password_confirm }}</span>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-10">
			<input name="submit" class="btn btn-primary" type="submit" value="修改" />
		</div>
	</div>

</form>
{% endblock %}
