{% extends "base.html" %}
{% block content %}
	

<div class="row">
{% include('inc/sidebar_categories.html')%}

<div class="col-sm-10">

<h2>图库<small>查看</small></h2>
	<ul>
		<li>
			<label for="category_id">分类名称:</label>
			{{ picture.category.title }}
			<span class="error"></span>
		</li>
		<li>
			<label for="title">标题:</label>
			{{ picture.title }}
			<span class="error"></span>
		</li>
		<li>
			<label for="keywords">关键词:</label>
			{{ picture.keywords }}
			<span class="error"></span>
		</li>
		<li>
			<label for="description">注释:</label>
			{{ picture.description }}
			<span class="error"></span>
		</li>
		<li>
			<label for="picture">图片:</label>
			<img src="{{ picture.picture }}" />
			<span class="error"></span>
		</li>
		<li>
			<label for="content">内容:</label>
			{{ picture.content|safe }}
			<span class="error"></span>
		</li>
	</ul>

</div>
</div>
{% endblock %}
