{% extends "base.html" %}
{% block content %}


<div class="row">
{% include('inc/sidebar_categories.html')%}

<div class="col-sm-10">

<h2>产品<small>查看</small></h2>
	<ul>
		<li>
			<label for="category_id">分类名称:</label>
			{{ product.category.title }}
			<span class="error"></span>
		</li>
		<li>
			<label for="name">名称:</label>
			{{ product.name }}
			<span class="error"></span>
		</li>
		<li>
			<label for="keywords">关键词:</label>
			{{ product.keywords }}
			<span class="error"></span>
		</li>
		<li>
			<label for="description">注释:</label>
			{{ product.description }}
			<span class="error"></span>
		</li>
		<li>
			<label for="picture">图片:</label>
			<img src="{{ product.picture }}" />
			<span class="error"></span>
		</li>
		<li>
			<label for="content">内容:</label>
			{{ product.content|safe }}
			<span class="error"></span>
		</li>
	</ul>

</div>
</div>
{% endblock %}
