{% extends "base.html" %}

{%block script %}
<script type="text/javascript" src="/static/js/ajaxupload.js"></script>
<script type="text/javascript" src="/static/js/form.js"></script>
{% endblock %}

{% block content %}

{% if single_page %}
<ul class="breadcrumb">
	<li><a href="/">首页</a></li>
	<li><a href="{{ url_for(setting.url+'_edit', id= single_page.id) }}">单页</a></li>
	<li class="active">修改</li>
</ul>

{% include('inc/list_msg.html')%}

<h2>{{single_page.category.title}}<small>修改</small></h2>

<form class="form-horizontal" name="{{ setting.url }}_edit" action="{{ url_for(setting.url+'_edit', id=single_page.id) }}" method="post">
	<input class="form-control" name="id" type="hidden" value="{{ single_page.id }}" />
	<div class="form-group">
		<label for="keywords" class="col-sm-2 control-label">关键词:</label>
		<div class="col-sm-10">
			<input class="form-control" name="keywords" type="text" value="{{ single_page.keywords }}" />
		</div>
	</div>
	<div class="form-group">
		<label for="description" class="col-sm-2 control-label">注释:</label>
		<div class="col-sm-10">
			<textarea class="form-control" name="description">{{ single_page.description }}</textarea>
		</div>
	</div>
	<div class="form-group">
		<label for="content" class="col-sm-2 control-label">内容:</label>
		<div class="col-sm-10">
			<textarea name="content" class="form-control article">{{ single_page.content }}</textarea>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-10 col-md-offset-2">
			<input name="submit" class="btn btn-primary" type="submit" value="修改" />
		</div>
	</div>
</form>
{% endif %}
{% endblock %}
